body {
    background-color: pink;
}

.container{
    backgroud-color: black
}

div.container form{
    border: 2px solid black;
    margin: 100px 50px 100px 50px;
    padding: 100px 50px 100px 50px;
}